#comment {
    min-height: calc(100vh - 91px);
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    position: relative;
} 

.title-comment {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    max-width: 600px; /* Defina o valor máximo de largura que deseja para o <h1> */
    margin: 0 auto; /* Centraliza horizontalmente */
    overflow-wrap: break-word; /* Quebra de palavra automática */
}
    
.description-comment {
    font-size: 18px;
    text-align: center;
    max-width: 500px; /* Defina o valor máximo de largura que deseja para o <p> */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding-bottom: 20px;
    margin-bottom: 20px; /* Espaçamento abaixo dos parágrafos */
    overflow-wrap: break-word; /* Quebra de palavra automática */
}

.white-box {
    position: relative;
    width: 960px; /* largura desejada */
    height: 372px; /* altura desejada */
    overflow: hidden; /* impede que o conteúdo ultrapasse as dimensões definidas */
    background-color: #fff; /* Adiciona o fundo branco */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 0 80px; /* Adiciona 80px de padding nas laterais */
    display: flex; /* Ativa o layout flexivel */
    justify-content: space-between; /* Distribui os slides uniformemente */
    align-items: center; /*Centraliza os itens ao longo do eixo transversal (verticalmente)*/
}


.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    z-index: 1; /* Garante que os botões estejam acima dos slides */
}

.prev-btn {
    left: 10px; /* Ajusta a posição do botão da esquerda */
}

.next-btn {
    right: 10px; /* Ajusta a posição do botão da direita */
}

.comment-carousel {
    width: 100%; 
    overflow: hidden; 
    position: relative;
    display: flex;
}

.slide {
    width: 384px;
    height: 372px; /* Mantém a altura original */
    /* margin: 0 auto; */
    margin-right: 32px; /* Adiciona espaçamento entre os slides */
}

/* Remova a margem direita do último slide para evitar espaçamento extra */
.slide:last-child {
    margin-right: 0; 
}


.comment-text {
    width: 384px; /* O conteúdo de cada slide ocupa toda a largura do slide */
    height: 372px;
    padding: 20px;
    background-color: #f3f4f6; /* Cor de fundo para destacar o conteúdo */
    border-radius: 6px; /* Adiciona bordas arredondadas */
}

.user-info {
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    align-items: center; /* Centraliza os elementos horizontalmente */
    text-align: center; /* Centraliza o texto */
}

.user-icon {
    width: 50px;
    height: 50px;
    background-color: #000; /* Cor do exemplo para o ícone */
    border-radius: 50%;
    margin-top: 5px; /* Espaçamento entre o nome e o ícone */
}

.user-name {
    font-size: 16px;
}

