#faq {
    min-height: calc(100vh - 91px);
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    position: relative;
} 

.title-comment {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    max-width: 600px; /* Defina o valor máximo de largura que deseja para o <h1> */
    margin: 0 auto; /* Centraliza horizontalmente */
    overflow-wrap: break-word; /* Quebra de palavra automática */
}
    
.description-comment {
    font-size: 18px;
    text-align: center;
    max-width: 500px; /* Defina o valor máximo de largura que deseja para o <p> */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding-bottom: 20px;
    margin-bottom: 20px; /* Espaçamento abaixo dos parágrafos */
    overflow-wrap: break-word; /* Quebra de palavra automática */
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Adiciona esta linha */
    align-items: center; /* Opcional: alinha os itens horizontalmente no centro */
}

.boxfaq {
    max-width: 800px;
}

.boxfaq .contentbox .label {
    border: solid 1px #E5E7EB;
    position: relative;
    padding: 10px;
    padding-top: 10px;
    background: #F3F4F6;
    cursor: pointer;
}

.boxfaq .contentbox.active .label::before{
    content: 'v' ;
}

.label{
    font-weight: bold;
}

.boxfaq .contentbox .label::before {
    content: '^';
    position: absolute;
    right: 8px;
    bottom: -12px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.boxfaq .contentbox .subject {
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.boxfaq .contentbox.active .subject {
    height: auto;
    padding: 10px
}