footer {
    background-color: #095b4e; /* Cor de fundo do footer */
    padding: 80px 0; /* Espaçamento vertical */
    color: #fff; /* Cor do texto */
    position: relative; /* Permite posicionar o border superior */
}

/* Adiciona o border superior */
footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%; /* Posiciona o border na metade do footer */
    transform: translateX(-50%); /* Move o border para a esquerda */
    width: calc(100% - 40%); /* Define a largura do border */
    max-width: 1060px; /* Limita a largura máxima do border */
    height: 1px; /* Espessura do border */
    background-color: #fff; /* Cor do border */
    margin-top: 65px; /* Distância entre o border e o topo do footer */
}

.footer-content {
    /* padding: 0 20%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px; /* Ajusta a posição vertical do footer */
}

.footcenter {
    flex-grow: 1; /* Permite que o nav cresça para ocupar o espaço restante */
    text-align: center; /* Centraliza o conteúdo do nav */
}

.footcenter ul {
    padding: 0; /* Remove o padding padrão da lista */
}

.footcenter li {
    display: inline-block;
    margin-right: 20px; 
}

.social-icons {
    margin-top: 20px; /* Adiciona espaçamento entre o nav e as redes sociais */
}

.social-icons a {
    color: #fff; /* Define a cor dos ícones */
    text-decoration: none; /* Remove o sublinhado padrão */
    margin-right: 10px; /* Adiciona espaçamento entre os ícones */
}

.copyright {
    text-align: center; /* Centraliza o texto */
    margin-top: 20px; /* Adiciona espaçamento acima do texto */
}
