#home {
    min-height: calc(100vh - 91px);
    padding: 20px;
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 800px; /* Defina o valor máximo de largura para a seção */
    position: relative;
    display: flex; /* Usa flexbox */
    justify-content: space-between; /* Distribui os itens ao longo do eixo principal */
    align-items: center; /* Centraliza verticalmente os itens */
} 


#cta {
    flex: 1; /* Ocupa todo o espaço disponível restante */
    text-align: left; /* Alinha o texto à esquerda */
    margin-right: 138px; /* Adiciona espaço entre o texto e a imagem */
}

#cta .title {
    font-size: 4rem;
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: #1d1d1d;
}

#phone-button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #fff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone-button button{
    box-shadow: none;
}


#banner {
    flex: 1; /* Ocupa todo o espaço disponível restante */
    text-align: right; /* Alinha a imagem à direita */
}


#banner img {
    width: 590px; /* Define a largura da imagem */
    height: 425px; /* Define a altura da imagem */
}


 @media screen and (max-width: 1170px) {
    #home{
        min-height: 100%;
        padding-top: 0px;
    }
    #banner, #banner img, #home .shape {
        display: none;
    }
    #cta{
        width: 100%;
        align-items: center;
        text-align: center;
    }
 }